@import 'libs/normalize';
@import 'libs/fonts';
@import 'libs/owfont-regular';

@import 'base/constants';
@import 'base/mixins';


@import 'blocks/weather';
@import 'blocks/slider';
@import 'blocks/time';
@import 'blocks/date';
@import 'blocks/greeting';
@import 'blocks/quote';
@import 'blocks/player';
@import 'blocks/translate';
@import 'blocks/footer';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    height: 100vh;
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background:  center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
    min-height: 220px;  
    padding: 20px;
    @include media-mobile {
        padding: 10px;
    }

}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 260px;  
    padding: 20px;
  }

// .footer {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//     width: 100%;
//     height: 30vh;
//     min-height: 160px;  
//     padding: 20px;
// }


//   .weather {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-start;
//     row-gap: 5px;
//     width: 180px;
//     min-height: 180px;  
//     text-align: left;
//   }
  
//   .weather-error {
//     margin-top: -10px;
//   }
  
//   .description-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//     align-items: center;
//     column-gap: 12px;
//   }
  
//   .weather-icon {
//     font-size: 44px;
//   }


//   .slider-icon {
//     position: absolute;
//     top: 50%;
//     margin-top: -16px;
//     cursor: pointer;
//   }
  
//   .slide-prev {
//     left: 20px;
//     background-image: url('../assets/svg/slider-prev.svg');
//   }
  
//   .slide-next {
//     right: 20px;
//     background-image: url('../assets/svg/slider-next.svg');
//   }

// .slider-icon {
//   width: 32px;
//   height: 32px;
//   background-size: 32px 32px;
//   // background-position: center center;
//   // background-repeat: no-repeat;
//   background-color: transparent;
//   border: 0;
//   outline: 0;
//   opacity: .8;
//   cursor: pointer;
//   transition: .3s;  
// }

// .slider-icon:hover{
//   opacity: 1;
// }

// .slider-icon:active {
//   border: 0;
//   outline: 0;  
//   transform: scale(1.1);
// }