.greeting-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 48px;
    width: 100%;
    font-size: 40px;
    @include media-tablet {
        font-size: 34px;
    }
    @include media-mobile {
        flex-direction: column;
        font-size: 24px;
    }
}
 

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
    @include media-mobile {
        text-align: center;
    }
}


.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    &::placeholder  {
        color: #fff;
        opacity: .6;
    }
    @include media-mobile {
        max-width: 100%;
        text-align: center;
    }
}
  
