.slider {
    &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        opacity: .6;
        cursor: pointer;
        transition: all .6s;  
        &:hover {
            opacity: 1;
            transform: translateY(-50%) scale(1.1);
        }
    }    
}
  
.slide {
    &-prev {
        left: 20px;
        &_min {
            width: 32px;
            height: 32px;
        }
    }
    &-next {
        right: 20px;
        &_min {
            width: 32px;
            height: 32px;
        }
    }
}


